<h1>Displaying all data</h1>

<ul>
    {{#each data}}
    <li><a href="/people/{{this.id}}/">{{this.id}}, {{this.last_name}}</a></li>
    {{/each}}
</ul>
<form action="" method="post">
    <input name="id" type="number" placeholder="id">
    <input name="firstname" type="text" placeholder="firstname">
    <input name="lastname" type="text" placeholder="lastname">
    <input type="submit">
</form>